#tilebar{
    background-color: black;
}

.dropdown-content {
    background-color: #292929;
}



body{
    background-color: #292A2D;
    color: #E8EAED;
}

.gauge-div{
    border: 4px solid lightgray;
}

.gauge-div-border{
    border-radius: 1em;
    border: 4px solid lightgray;
}

.channel-control-button{
    border: 2px solid lightgray;
}


/*
for all td elements inside a table with class table-4channels
 */
table.table-4fields td {
    border-right: dotted 2px #969696;
}




#nothingConnectedOverlay{
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px #00c1dc;
}

#connectLastInlineButton{
    text-shadow: 2px 2px #00c1dc;
}

