/*
    Style for the Swipe for settings element
 */

#swipe-for-settings-container{
    width: 100vw;
    height: 10vh;

    overflow: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#swipe-for-settings-container::-webkit-scrollbar{
    display: none;
}


.snap-align{
    scroll-snap-align: start;
}

.swipe-for-settings-text,
.swipe-for-settings-action{
    display: flex;
    align-items: center;
    justify-content: center;

    transition:color .5s ease-in;

    min-height: 100%;
}

.green{
    color: green;
}
.orange{
    color:darkorange;
}

.button-orange{
    color: black;
    background-color: darkorange;
    border: none;
}

#version-number {
    color: #0ee0ff;
}




/*
    Style dependant on the device touch capability
 */
#swipe-for-settings-container.touch .touchUI{
    display: inherit;
}

#swipe-for-settings-container.touch .non-touchUI{
    display: none;
}

#swipe-for-settings-container.non-touch .touchUI{
    display: none;
}

#swipe-for-settings-container.non-touch .non-touchUI{
    display: inherit;
}



/*
    Style for the settings that sit below the main grid
 */



#settings-container{
    text-align: center;
    width: 95vw;

    margin: 20vh auto auto;
}


#interface-info-container{
    text-align: center;
    width: 90vw;
    margin: 20vh auto auto;
}


#board-info-container{
    text-align: center;
    width: 90vw;
    margin: 20vh auto auto;
}
#board-info-container .logo{
    height: 10vw;
    width: 10vw;
}




/*
Buttons for reading and writing
 */

.readwrite-button-container button{
    font-family: Pervitina, serif;
    width: 25vw;
    height: 4vw;
    font-size: 3vw;
}





/*
All tables inside the settings container
 */
#settings-container table {
    width: 100%;

    margin-top: 5vh;
}

#inline-configuration-div  td:first-child {
    text-align: left;
}
#inline-configuration-div td {
    border-bottom: 4px dotted grey;
}

#inline-configuration-div td:last-child {
    text-align: right;
}

#inline-configuration-div td:first-child {
    text-align: left;
}
#inline-configuration-div td {
    border-bottom: 4px dotted grey;
}

#inline-configuration-div select {
    font-family: 'Pervitina', monospace;
    font-size: inherit;
}

#inline-configuration-div button {
    font-family: 'Pervitina', monospace;
    font-size: inherit;
}

#inline-configuration-div {
    font-size: 3vw;
}

#inline-configuration-div input::-webkit-outer-spin-button, #inline-configuration-div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* padding: 1em; */
}

#inline-configuration-div input {
    font-family: 'Pervitina', monospace;
    font-size: inherit;
    text-align: inherit;
}





#board-configuration-div{
    width: 100%;
    margin: 20vh auto auto;
}

#inline-configuration-div{
    width: 100%;
    margin: 20vh auto auto;
}
#board-calibration-div{
    width: 100%;
    margin: 20vh auto auto;
}



.hidden{
    display: none;
}
.visible{
    display: inherit;
}













.logo{
    width: 30vw;
}

#board-config-table {
    display: grid;
    grid-auto-flow: column;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}


#board-config-table td {
    text-align: left;
    width: 24%;
    border: dotted 1px #313131;
}
#board-config-table td .seperator{
    width: 4%;
    border: none;
}

.no-height {
    height: 0;
}

#board-config-table tr {
    height: 6vw;
    width: 100%;
}