/*
    Style for the Swipe for settings element
 */

#swipe-for-settings-container{
    width: 100vw;
    height: 10vh;

    overflow: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#swipe-for-settings-container::-webkit-scrollbar{
    display: none;
}


.snap-align{
    scroll-snap-align: start;
}

.swipe-for-settings-text,
.swipe-for-settings-action{
    display: flex;
    align-items: center;
    justify-content: center;

    transition:color .5s ease-in;

    min-height: 100%;
}

.green{
    color: green;
}





/*
    Style dependant on the device touch capability
 */
#swipe-for-settings-container.touch .touchUI{
    display: inherit;
}

#swipe-for-settings-container.touch .non-touchUI{
    display: none;
}

#swipe-for-settings-container.non-touch .touchUI{
    display: none;
}

#swipe-for-settings-container.non-touch .non-touchUI{
    display: inherit;
}



/*
    Style for the settings that sit below the main grid
 */




#interface-info-container{
    text-align: center;
    width: 90vw;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#settings-container{
    text-align: center;
    width: 90vw;

    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}



.hidden{
    display: none;
}
.visible{
    display: inherit;
}













input{
    background-color: #313131;
    color: white;
}

.logo{
    width: 30vw;
}

#board-config-table {
    display: grid;
    grid-auto-flow: column;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}


#board-config-table td {
    text-align: left;
    width: 24vw;
    border: dotted 1px #313131;
}

.seperator{
    width: 4vw;
    border: none;
}

.no-height {
    height: 0;
}

#board-config-table tr {
    height: 10vh;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 8px;
    z-index: 20;

    opacity: 0;

    background-color: #444444;

    margin-left: 0;

    border-radius: 1vw;

    transition: 0s;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;

    transition-delay: 1s;
}