/*
    Style for the Swipe for settings element
 */

#swipe-for-settings-container{
    width: 100vw;
    height: 10vh;

    overflow: auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
#swipe-for-settings-container::-webkit-scrollbar{
    display: none;
}


.snap-align{
    scroll-snap-align: start;
}

.swipe-for-settings-text,
.swipe-for-settings-action{
    display: flex;
    align-items: center;
    justify-content: center;

    transition:color .5s ease-in;

    min-height: 100%;
}

.green{
    color: green;
}
.orange{
    color:darkorange;
}

.button-orange{
    color: black;
    background-color: darkorange;
    border: none;
}

#version-number {
    color: #0ee0ff;
}




/*
    Style dependant on the device touch capability
 */
#swipe-for-settings-container.touch .non-touchUI{
    display: none;
}

#swipe-for-settings-container.non-touch .touchUI{
    display: none;
}



/*
    Style for the settings that sit below the main grid
 */



#settings-container{
    text-align: center;
    width: 95vw;

    margin: 20vh auto auto;
}


#interface-info-container{
    text-align: center;
    width: 90vw;
    margin: 20vh auto auto;
}


#board-info-container{
    text-align: center;
    width: 90vw;
    margin: 20vh auto auto;
}
#board-info-container .logo{
    height: 10vw;
    width: 10vw;
}




/*
Buttons for reading and writing
 */

.readwrite-button-container button{
    font-family: Pervitina, serif;
    width: 25vw;
    height: 4vw;
    font-size: 3vw;
}





/*
All tables inside the settings container
 */
#settings-container table {
    width: 100%;

    margin-top: 5vh;
}





/*
    BOARD CONFIG
 */

#board-configuration-div{
    width: 100%;
    margin: 20vh auto auto;
}
#board-config-table {
    display: grid;

    font-size: 3vw;

    grid-auto-flow: column;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#board-config-table  td:first-child {
    text-align: left;
}
#board-config-table td {
    padding: 0;
    margin: 0;
}
#board-config-table tr {
    border-bottom: 3px dotted grey;
}

#board-config-table td:last-child {
    text-align: right;
}

#board-config-table td:first-child {
    text-align: left;
}

#board-config-table select, #board-config-table button, #board-config-table input {
    font-family: 'Pervitina', monospace;
    font-size: inherit;
    text-align: inherit;
}
#board-config-table input[type=checkbox] {
    transform: scale(2);
}
/* no goofy up/down buttons */
#board-config-table input::-webkit-outer-spin-button, #board-config-table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* special treatment for the enabled channels */
#bms-config-enabled-channels-div {
    text-align: left;
}
#bms-config-enabled-channels-td {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
}






/*
    INLINE CONFIG
 */

#inline-configuration-div{
    width: 100%;
    margin: 40vh auto auto;
}


#inline-configuration-table  td:first-child {
    text-align: left;
}
#inline-configuration-table td {
    border-bottom: 3px dotted grey;
}

#inline-configuration-table td:last-child {
    text-align: right;
}

#inline-configuration-table td:first-child {
    text-align: left;
}

#inline-configuration-table select, #inline-configuration-table button, #inline-configuration-table input {
    font-family: 'Pervitina', monospace;
    font-size: inherit;
    text-align: inherit;
}

#inline-configuration-div {
    font-size: 3vw;
}
#inline-configuration-table input[type=checkbox] {
    transform: scale(2);
}
/* no goofy up/down buttons */
#inline-configuration-table input::-webkit-outer-spin-button, #inline-configuration-table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}













#board-calibration-div{
    width: 100%;
    margin: 40vh auto auto;
}








.hidden{
    display: none;
}
.visible{
    display: inherit;
}

.logo{
    width: 30vw;
}

.no-height {
    height: 0;
}